<!DOCTYPE html>
<html ng-app="myApp">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/shop-homepage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Văn phòng phẩm Hoa Anh Đào</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Danh mục</h1>
          <div class="list-group" ng-controller="Test">
            <div ng-repeat="cat in menu">
              <a href="/{{cat.link}}" style="background-color: #f2c1e1;text-align: center;" class="list-group-item"><b>{{cat.name}}</b></a>
              <div ng-repeat="subCat in cat.sub">
                <a href="/{{subCat.link}}" style="height: 30px; padding: 5px 15px;" class="list-group-item">🌸 {{subCat.name}}</a>
              </div>
            </div>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">


          <%-body%>

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <h2 class="m-0 text-center text-danger">VPP Hoa Anh Đào</h2>
        <p class="m-0 text-center text-white">
          Địa chỉ: A7, Tổ 1, KP2, Phường Tân Hiệp, Biên Hòa, Đồng Nai<br />
          Liên hệ: 0251.887.1294<br />
          Email: vppanhdao2010@gmail.com
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="angular/main.js"></script>

  </body>

</html>
